<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<h1 style="text-align:center;">Peyton's E1006 Personal Website</h1>
    <head>
        <!--specifies title of the page !-->
        <title>Peyton's Website</title>
        <a href = "./static/page1.html">Class Schedule</a>
        <a href = "./static/page2.html">Page2</a>
    <head>
    
    

    <body>
    
    <h2>About Me</h2>
    <p style="color:blue;">Hi! My name is <b>Peyton Yen</b>. I am a<b> junior </b>at Barnard College, majoring in <b>Economics</b> and minoring in Psychology. </p>
    
    <img src="/static/pic.png" width="400" height="500" class="center"></img>
    </body>
</html>

